<%- include("header") -%>
<h1  style="color: black;">this is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, numquam dolorum doloremque harum sint minima magnam nihil atque dicta repudiandae quas voluptatibus laudantium omnis! Inventore doloribus ipsam, ad non laudantium voluptatibus, aspernatur delectus, dolorem aperiam fugit eos dolores tenetur possimus quaerat sunt unde perferendis. Neque, dignissimos! Dolores quia nemo deleniti necessitatibus, voluptas beatae illum odit fugit velit nobis, sint nihil! Exercitationem, et! Adipisci vel consectetur ipsa eligendi. Reiciendis dolore illum vel minima nihil ipsam. Laborum, recusandae magnam? Veritatis, a nobis! Quam fugit vitae modi illum cumque placeat amet aliquid corrupti odit quas rerum ipsam quae, ullam, doloremque consequuntur facilis nesciunt!</p>
<br>
<br>
<br>
<br>
<br>
<%- include("footer") -%>